@model IEnumerable<TRUE_CONCEPT.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
    var categories = (IEnumerable<SelectListItem>)ViewData["Categories"];
    var allCategoryItem = new SelectListItem { Text = "Tất cả", Value = "0" }; // Thay "0" bằng giá trị phù hợp nếu cần
    categories = new[] { allCategoryItem }.Concat(categories);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/ProductManager.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row my-3">
        <h1 class="title-QLSP">Quản lý sản phẩm</h1>
        <hr />
    </div>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div class="row my-3">
            <form asp-action="Index" class="search_bar">
                <div class="customize-input">
                    <input name="inputSearch" class="form-control border-0 bg-white"
                           type="search" placeholder="Search" aria-label="Search">
                    <i id="icon_search" class="form-control-icon" data-feather="search"></i>
                </div>
            </form>
            <div class="Btn-bar col-6">
                <p class="btn-function btn_Create_Product">
                    @Html.ActionLink("Thêm sản phẩm", "Add", null, new { @class = "no-underline" })
                </p>
                <div class="col-lg-3">
                    @Html.DropDownList("searchCategoryId", categories, new { @class = "form-select" })
                </div>

            </div>
            <div class="col-auto mt-lg-0 mt-2">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    }


    <table class="table table-sp">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.NameCategory)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="allow-overflow">
                <td>
                    <img class="img_product" src="@Html.DisplayFor(modelItem => item.Img_Url)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProduct)
                </td>
                <td>
                    <span class="item__price"> @Html.FormatValue(item.PriceOld, "{0:#,###}") đ</span>
                </td>
                <td>
                    <span class="item__price"> @Html.FormatValue(item.NewPrice, "{0:#,###}") đ</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.VAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCategory)
                </td>
                <td>
                    <p class="btn-function btn_Alter_Product">
                        @Html.ActionLink("Sửa", "Update", new { id = item.ID }, new { @class = "no-underline" })
                    </p>
                    <p class="btn-function btn_Delete_Product">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "no-underline" })
                    </p>
                </td>
            </tr>
        }
    </table>


</body>
</html>

<script>
    $(function () {
        $("#icon_search").click(function () {
            $('Form').submit();
        })
    });
</script>
