@model IEnumerable<TRUE_CONCEPT.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/ProductManager.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title-QLSP">Quản lý sản phẩm</h1>
    <hr />
    <div class="All-product">
        <div class="Function_bar">
            <div class="nav-item d-none d-md-block col-5">
                <a class="nav-link" href="javascript:void(0)">
                    <form asp-action="Index" class="search_bar">
                        <div class="customize-input">
                            <input name="inputSearch" class="form-control border-0 bg-white"
                                   type="search" placeholder="Search" aria-label="Search">
                            <i id="icon_search" class="form-control-icon" data-feather="search"></i>
                        </div>
                    </form>
                </a>
            </div>
            <div class="Btn-bar col-6">
                <p class="btn-function btn_Create_Product">
                    @Html.ActionLink("Thêm sản phẩm", "Add", null, new { @class = "no-underline" })
                </p>
                
            </div>
        </div>

        <table class="table table-sp">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Img_Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceOld)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.NameCategory)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="allow-overflow">
                    <td>
                        <img class="img_product" src="@Html.DisplayFor(modelItem => item.Img_Url)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameProduct)
                    </td>
                    <td>
                        @{
                            // Loại bỏ hai số 0 sau dấu phẩy
                            string formattedPrice = string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", item.PriceOld);
                            formattedPrice = formattedPrice.Replace(",00 ₫", " ₫");
                        }
                        <span class="item__price">@formattedPrice</span>
                    </td>
                    <td>
                        @{
                            // Loại bỏ hai số 0 sau dấu phẩy
                            string formattedNewPrice = string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", item.NewPrice);
                            formattedNewPrice = formattedNewPrice.Replace(",00 ₫", " ₫");
                        }
                        <span class="item__price">@formattedNewPrice</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.NameCategory)
                    </td>
                    <td>
                        <p class="btn-function btn_Alter_Product">
                            @Html.ActionLink("Sửa sản phẩm", "Update", new { id = item.ID }, new { @class = "no-underline" })
                        </p>
                        <p class="btn-function btn_Delete_Product">
                            @Html.ActionLink("Xóa sản phẩm", "Delete", new { id = item.ID }, new { @class = "no-underline" })
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>


</body>
</html>

    <script>
        $(function () {
            $("#icon_search").click(function () {
                $('Form').submit();
            })
        });
    </script>
 