@model IEnumerable<TRUE_CONCEPT.Models.ThueDuAn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}
<head>
    <link href="~/Areas/Admin/Content/css/thueduan.css" rel="stylesheet" />
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDuAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.NgayThueDuAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDuKienHoanThanh)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.YeuCauThietKe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KieuThietKe)
        </th>
      

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        #@Html.DisplayFor(modelItem => item.MaDuAn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nameCustomer)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.NgayThueDuAn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDuKienHoanThanh)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.YeuCauThietKe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KieuThietKe)
    </td>
   


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaDuAn }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaDuAn }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaDuAn })
    </td>
</tr>
}

</table>
