@model IEnumerable<TRUE_CONCEPT.Models.Order>

@{
    ViewBag.Title = "ChoXacNhan";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}
<head>
    <link href="~/Areas/Admin/Content/css/orders.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>

</head>
<h2>ChoXacNhan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="trow_@item.IDOrder">
            <td>
                #@Html.DisplayFor(modelItem => item.IDOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameCustomer)
            </td>
            <td>

                @Html.FormatValue(item.OrderDate, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.FormatValue(item.ThanhTien, "{0:#,###}")
            </td>

            <td>
                <a href="#" id="btn-confirm-order" data-id="@item.IDOrder">Xác nhận</a> |
                @Html.ActionLink("Chi tiết", "Details", new { idOrder = item.IDOrder }) |
                <a onclick="showModelConfirm(this)" data-ido="@item.IDOrder" data-idc="@item.IDCustomer">Hủy</a>

            </td>
        </tr>
    }

</table>
@Html.Partial("_ConfirmDeleteModal")
<script>
    //Xác nhận  hóa đơn đang chờ
$(document).ready(function () {
    $('body').on('click', '#btn-confirm-order', function () {
        var id = $(this).data('id'); // Lấy ID sản phẩm từ thuộc tính data
        $.ajax({
            url: '@Url.Action("ConfirmOrder", "Orders")',
            type: 'POST', // Sử dụng phương thức POST để truyền ID sản phẩm
            data: { idOrder: id }, // Truyền ID sản phẩm
            success: function (data) {
                if (data.success) {
                    $('#trow_' + id).remove();
                    alert('Đơn hàng đã được xác nhận.');
                }
            },
            error: function () {
                alert("Có lỗi xảy ra!")
            },
        });
    });
});

    //Hủy hóa đơn
    // Hiển thị modal khi người dùng nhấn nút xóa
    function showModelConfirm(value) {
        var ido = $(value).data('ido'); // Lấy ID đơn hàng từ thuộc tính data
        var idc = $(value).data('idc');

        // Thiết lập giá trị data-id cho modal
        $('#confirmDeleteModal').data('idOrder', ido);
        $('#confirmDeleteModal').data('idCustomer', idc);

        // Mở modal
        $('#confirmDeleteModal').modal('show');
    }


    // Gọi hành động xóa khi xác nhận
    $('#confirmDeleteButton').click(function () {
        var ido = $('#confirmDeleteModal').data('idOrder');
        var idc = $('#confirmDeleteModal').data('idCustomer');

        $.ajax({
            url: '@Url.Action("CancelOrder", "Orders")',
            type: 'POST', // Sử dụng phương thức POST để truyền ID đơn hàng
            data: { idOrder: ido, idCustomer: idc },
            success: function (data) {

              $('#trow_' + ido).remove();
              alert('Đơn hàng đã bị hủy.');

            },
            error: function () {
                alert("Có lỗi xảy ra khi hủy đơn hàng.")
            },
        });
        $('#confirmDeleteModal').modal('hide');
    });


</script>




